header{
    background-color: chocolate;
}
/* li{
    color: rgb(11, 11, 10);
    background-color: white;
} */
h1{
    background-color: cadetblue;
}

body{
    background-color: rgb(192, 216, 237);
}